@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
}
.first-section {
  background-color: #1f2937;
}
li {
  list-style: none;
}
.p-content,
li {
  font-size: 18px;
  color: #e5e7eb;
}
.logo-text {
  font-size: 24px;
  color: #f9faf8;
}
.nav-bar {
  display: flex;
  padding: 30px;
}
ul {
  display: flex;
  gap: 20px;
}
.nav-bar-left,
.nav-bar-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.content {
  display: flex;
}
.content-left {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.content-left,
.content-right {
  display: flex;
  width: 50%;
  justify-content: center;
}

img {
  margin-bottom: 100px;
}
.first-section-button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 25px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}
.second-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.box-container {
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.blue-boxes {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 30px 100px;
}
h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}
.p-box {
  text-align: center;
}
.third-section {
  background-color: #e5e7eb;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-quote-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 400px;
}
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.blue-container {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 40%;
}
.left {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}
h4 {
  color: white;
  margin-bottom: 5px;
}
.p-signup {
  color: white;
}

.fourth-section-button {
  background-color: #3882f6;
  color: white;
  border: white solid;
  border-radius: 10px;
  width: 125px;
  height: 40px;
}
.p-footer {
  color: white;
}
.footer {
  background-color: #1f2937;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
