@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
header,
footer {
  background-color: #1f2937;
}
.p-logo {
  color: #f9faf8;
  font-size: 24px;
}
li,
.p-content {
  font-size: 18px;
  color: #e5e7eb;
}
.header-top {
  display: flex;
}
.nav-bar-left,
.nav-bar-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 10px;
}
.header-content {
  display: flex;
  width: 100%;
}
.content-left,
.content-right {
  display: flex;
  width: 90%;
  justify-content: center;
  padding: 50px 0;
  margin-left: 300px;
}
.content-left {
  flex-direction: column;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  margin: 1px;
}
.header-button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-weight: 300;
}
img {
  width: 400px;
  height: 200px;
  margin-right: 150px;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-box {
  border: 3px solid #3882f6;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.p-second {
  text-align: center;
  padding: 20px;
  color: hsl(0, 0%, 50%);
}
.third-section {
  background-color: #e5e7eb;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-third {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
}
.p-quote {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
}
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.blue-container {
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100px;
}
.fourth-section-left,
.fourth-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}
.fourth-section-left {
  width: 85%;
}

.fourth-section-button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: 3px solid white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
h4 {
  margin-bottom: 5px;
  color: white;
}

.p-fourth {
  margin-top: 0;
  color: #e5e7eb;
}
footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-footer {
  color: #e5e7eb;
}
